<ngb-alert type="danger" dismissible="true" (close)="error = null" *ngIf="error">
  {{error}}
</ngb-alert>

<p class="lead">
  <span *ngIf="userInfo">Hi, <strong>{{userInfo.name}}</strong>!</span> Welcome to our fantastic app!
</p>
<div *ngIf="userInfo">
  <p class="mt-3">
    <button type="button" class="btn btn-outline-primary btn-lg" (click)="logout()">Log out</button>
  </p>
</div>
<p *ngIf="!userInfo">
  <button type="button" class="btn btn-outline-primary btn-lg" (click)="login()">Log in</button>
</p>
